@import 'reset';
@import 'modal';

@font-face {
    font-family:"Digital-7";
    src: url('../../fonts/digital-7.ttf') format('truetype');
}

@font-face {
    font-family:"radioland";
    src: url('../../fonts/RADIOLAND.ttf') format('truetype');
}

body {
    background-color: black;
    font-family: 'Digital-7';
    font-size: 24px;
}

#main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: silver;
}

#display-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    background-color: black;
}

h1 {
    font-family: 'Digital-7';
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#stage {
    width: 480px;
    height: 500px;
    position: relative;
    border: 2px solid black;
}

#stage canvas { position: absolute; }
#background-canvas { z-index: 1; }
#background-cloud-canvas { z-index: 2 }
#plane-canvas { z-index: 3; }
#propeller-canvas { z-index: 4; }
#hud-canvas { z-index: 5; }

#aperture-setting {
    z-index: 6;
    position: absolute;
    top: 30px;
    left: 60px;
}

#shutter-setting {
    z-index: 6;
    position: absolute;
    top: 30px;
    right: 60px;
}

#iso-setting {
    z-index: 6;
    position: absolute;
    bottom: 30px;
    left: 60px;
}

#exposure {
    z-index: 6;
    position: absolute;
    bottom: 30px;
    right: 60px;
}

#camera-container {
    width: 480px;
    height: 500px;
    position: relative;
    border: 2px solid black;
}

#camera-container canvas { position: absolute; }

#camera-canvas { z-index: 1; }
#camera-shutter-canvas { z-index: 2 }

#shutter-label {
    position: absolute;
    bottom: 75px;
    right: 280px;
    z-index: 3;
    color: #A2A56E;
}

#sensor-label {
    position: absolute;
    bottom: 75px;
    right: 90px;
    z-index: 3;
    color: white;
}

#controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: silver;
}

.slider-container {
    display: flex;
    flex-direction: column;
    min-width: 480px;
    max-width: 1200px;
    background-color: silver;
    padding: 10px 0px 10px 0px;
}

#personal-links-container {
    display: flex;
    flex-direction: column;
    min-width: 480px;
    max-width: 1200px;
    background-color: silver;
    padding: 10px 0px 10px 0px;
}

#personal-links-container.personal-link-item {
    display: flex;
    flex-direction: column;
}

#Aperture {
    direction: rtl;
}

#Shutter-Speed {
    direction: rtl;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: whitesmoke;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
}