#main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: silver;
}

#display-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
}

h1 {
    display: flex;
    justify-content: center;
}

#stage {
    width: 480px;
    height: 500px;
    position: relative;
    border: 2px solid black;
}

#stage canvas { position: absolute; }
#background-canvas { z-index: 1; }
#background-cloud-canvas { z-index: 2 }
#plane-canvas { z-index: 3; }
#propeller-canvas { z-index: 4; }
#hud-canvas { z-index: 5; }
#aperture-setting {
    z-index: 6;
    position: absolute;
    top: 30px;
    left: 60px;
}

#shutter-setting {
    z-index: 6;
    position: absolute;
    top: 30px;
    right: 60px;
}

#camera-container {
    width: 480px;
    height: 500px;
    position: relative;
    border: 2px solid black;
}

#camera-container canvas { position: absolute; }

#camera-canvas { z-index: 1; }
#camera-shutter-canvas { z-index: 2 }

#controls {
    min-width: 480px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    background-color: silver;
    margin-left: auto;
    margin-right: auto;
}

.slider-container {
    display: flex;
    flex-direction: column;
    min-width: 480px;
    max-width: 1200px;
    background-color: silver;
}

#Aperture {
    direction: rtl;
}

#Shutter-Speed {
    direction: rtl;
}
